In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
import seaborn as sns

# plot stylings
plt.style.use('fivethirtyeight')
%matplotlib inline

# do not display warnings in notebook 
import warnings
warnings.filterwarnings('ignore')

In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
!ls '/content/gdrive/My Drive/Data/Dataset_spine.csv'

'/content/gdrive/My Drive/Data/Dataset_spine.csv'

In [ ]:
data = pd.read_csv('/content/gdrive/My Drive/Data/Dataset_spine.csv')

In [ ]:
data.head()

        Col1  ...                                        Unnamed: 13
0  63.027818  ...                                                NaN
1  39.056951  ...                                                NaN
2  68.832021  ...  Prediction is done by using binary classificat...
3  69.297008  ...                                                NaN
4  49.712859  ...                                                NaN

[5 rows x 14 columns]

Prediction is done by using binary classification.

Attribute1 = pelvic_incidence (numeric)

Attribute2 = pelvic_tilt (numeric)

Attribute3 = lumbarlordosisangle (numeric)

Attribute4 = sacral_slope (numeric)

Attribute5 = pelvic_radius (numeric)

Attribute6 = degree_spondylolisthesis (numeric)

Attribute7= pelvic_slope(numeric)

Attribute8= Direct_tilt(numeric)

Attribute9= thoracic_slope(numeric)

Attribute10= cervical_tilt(numeric)

Attribute11=sacrum_angle(numeric)

Attribute12= scoliosis_slope(numeric)

Attribute class {Abnormal, Normal}

In [ ]:
data.isnull().sum()

Col1             0
Col2             0
Col3             0
Col4             0
Col5             0
Col6             0
Col7             0
Col8             0
Col9             0
Col10            0
Col11            0
Col12            0
Class_att        0
Unnamed: 13    296
dtype: int64

In [ ]:
data.dtypes

Col1           float64
Col2           float64
Col3           float64
Col4           float64
Col5           float64
Col6           float64
Col7           float64
Col8           float64
Col9           float64
Col10          float64
Col11          float64
Col12          float64
Class_att       object
Unnamed: 13     object
dtype: object

In [ ]:
attribute_names = data.iloc[5:17]["Unnamed: 13"]
data1 = data.drop(["Unnamed: 13"], axis=1)

In [ ]:
data1.Class_att = [1 if each == "Abnormal" else 0 for each in data.Class_att]

In [ ]:
data1.describe()

             Col1        Col2        Col3  ...       Col11       Col12   Class_att
count  310.000000  310.000000  310.000000  ...  310.000000  310.000000  310.000000
mean    60.496653   17.542822   51.930930  ...  -14.053139   25.645981    0.677419
std     17.236520   10.008330   18.554064  ...   12.225582   10.450558    0.468220
min     26.147921   -6.554948   14.000000  ...  -35.287375    7.007900    0.000000
25%     46.430294   10.667069   37.000000  ...  -24.289522   17.189075    0.000000
50%     58.691038   16.357689   49.562398  ...  -14.622856   24.931950    1.000000
75%     72.877696   22.120395   63.000000  ...   -3.497094   33.979600    1.000000
max    129.834041   49.431864  125.742385  ...    6.972071   44.341200    1.000000

[8 rows x 13 columns]

In [ ]:
y = data1.Class_att.values

new_data = data1.drop(["Class_att"],axis=1)

x = (new_data-np.min(new_data))/(np.max(new_data)-np.min(new_data)).values

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state = 42)

# Using Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
lr_model = LogisticRegression()

lr_model.fit(x_train, y_train)

print('Logistic Regression TRAIN Accuracy: ', lr_model.score(x_train, y_train))
print('Logistic Regression TEST Accuracy: ', lr_model.score(x_test, y_test))

Logistic Regression TRAIN Accuracy:  0.7620967741935484
Logistic Regression TEST Accuracy:  0.7258064516129032

# Using Decision Tree

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree

In [ ]:
decision_tree = tree.DecisionTreeClassifier()
decision_tree.fit(x_train, y_train)

acc_decision_tree_train = decision_tree.score(x_train, y_train) * 100
print("Training Accuracy: %0.3f" % acc_decision_tree_train)

acc_decision_tree_val = decision_tree.score(x_test, y_test) * 100
print("Testing Accuracy: %0.3f" % acc_decision_tree_val)

Training Accuracy: 100.000
Testing Accuracy: 80.645

# Using Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
rf = RandomForestClassifier(n_estimators=100, max_depth=2, random_state=0)
rf.fit(x_train, y_train)

print('Random Forest TRAIN Accuracy: ', rf.score(x_train, y_train))
print('Random Forest TEST Accuracy: ', rf.score(x_test, y_test))

Random Forest TRAIN Accuracy:  0.8629032258064516
Random Forest TEST Accuracy:  0.6935483870967742